---
import BaseLayout from "@/layouts/BaseLayout.astro"
import {MUSIC} from "@/informacion/info"
import Card from "@/components/Card.astro"
---
<style>
    .section-img{
        width: 90%;
        max-width: 1500px;
        margin-top: 50px;
        margin-inline: auto;
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 300px));
        justify-content: center;
    }
    h2{
        text-align: center;
    }
</style>
<BaseLayout title="pagina principal">
    <section>
        <h2>Nuestras musicas</h2>
        <div class="section-img">
            {MUSIC.map(img => 
                <Card enlace={`services/${img.name}`} nombre={img.name} autor={img.author} img={img.picture}/>
            )}
        </div> 
    </section>
    
    
</BaseLayout>