---

const {img, contenido, filtro, id, disabled} = Astro.props

---
<style define:vars={{filtro}}>
    .start{
        background-color:rgba(0, 0, 0, .4)
    }
    button{
        display: flex;
        width: 120px;
        padding: 8px;
        background-color: none;
        border: none;
        justify-content: center;
        gap: 10px;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        border: 2px solid transparent;
    }
    button img{
        filter: var(--filtro)
    }
    p{
        font-size: 1.2em;
        font-weight: bolder;
    }
</style>
<button  id={id} disabled={disabled}>
    <img src={img} alt="xd">
    <p>{contenido}</p>
</button>

<script>
    const play = document.getElementById("play")
    let music = new Audio("/music/bugambilia.mp3")
    play.addEventListener("click", ()=>{
        if(play.classList.toggle("start")){
            music.play() 
        }
        else{    
            music.pause()
        }
    })
</script>